<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="new-blog-body">
    <%- include('../partials/_navbar.ejs') %>
    <div class="new-blog-container">
        <h1 class="new-blog-header"> Create a new blog post</h1>
        <form class="new-blog-form" action="/users/<%= user._id%>/blogs" method="POST">
            <label for="title" class="new-blog-label">Title:</label>
            <input type="text" name="title" id="title" class="new-blog-input"/>
            </br>
            <label for="comment" class="new-blog-label">Enter your thoughts here: </label>
            </br>
            <textarea name="comment" id="comment" class="new-blog-textarea" rows="5" cols="150"></textarea>
            </br>
            <button type="submit" class="new-blog-button">Post</button>
        </form>
    </div>
</body>
</html>