<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Emission Report</title>
</head>
<body class = index-body>
    <%- include('./partials/_navbar.ejs') %>
    <div class="index-container">
        <div class="text-container">
            <h1 class="main-header">Emission Report</h1>
            <p class="subheader">A blog about cars!</p>
            <% if (user) { %>
                <h1 >Welcome back, <%= user.username %>!</h1>
                <p>
                    <a href="/auth/sign-out">Sign Out</a>
                </p>
            <% } else { %>
                <h1 class="welcome">Hi there! Please<a class="authlink" href="/auth/sign-in">Sign in</a>or<a class="authlink" href="/auth/sign-up">Sign Up</a>to post on the blog.</h1>
            <% } %>
        </div>
    </div>
    
</body>
</html>