<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Emission Report Users</title>
</head>
<body class="user-blogs-body">
    <%- include('../partials/_navbar.ejs') %>
    <div class="user-blogs-container">
        <h1 class="user-blogs-header">User Blogs</h1>
        <ul class="user-blogs-list">
            <% users.forEach((user) => { %>
                <ul class="user-posts-list">
                    <% user.blogs.forEach((blog) =>{ %>
                        <li class="user-post-item">
                            <div class="post">
                                <h3 class="post-title">Title: <%=blog.title%></h3>
                                <p class="post-comment">My take: <%=blog.comment%></p>
                            </div>
                        </li>
                <% }) %>
            </ul>
       <% }) %>
        </ul>
    </div>
</body>
</html>