<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>
<body class="user-blogs-body">
    <%- include('../partials/_navbar.ejs') %>
    <div class="user-blogs-container">
        <h1 class="user-blogs-header">User Blogs</h1>
        <ul class="user-blogs-list">
            <% users.forEach((user) => { %>
                <li class="user-blog-items">
                     <a href="/users/<%= user._id %>" class="user-blog-link">User: <%= user.username %></a>
                 </li>
                <% }) %>
        </ul>
    </div>
</body>
</html>